.sign-up-child {
  position: absolute;
  top: 608px;
  left: 0;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background: linear-gradient(179.85deg, #89c6a7, #25596e);
  width: 375px;
  height: 268px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 36px;
  width: 234px;
  height: 49px;
}
.sign-up1 {
  position: absolute;
  top: 15.5px;
  left: 74px;
  display: inline-block;
  width: 86px;
  height: 18.1px;
}
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 234px;
  height: 49px;
  cursor: pointer;
}
.already-have-an {
  margin: 0;
}
.log-in1 {
  text-decoration: underline;
}
.log-in {
  font-family: var(--font-helvetica);
}
.already-have-an-container {
  position: absolute;
  top: 57px;
  left: 0;
  font-size: 12px;
  color: var(--color-white);
  display: inline-block;
  width: 233px;
  height: 37px;
}
.group-parent {
  position: absolute;
  top: 666px;
  left: 71px;
  width: 234px;
  height: 94px;
}
.cofix,
.icon {
  position: absolute;
  left: 75px;
}
.icon {
  top: 290px;
  width: 226px;
  height: 199px;
  object-fit: cover;
}
.cofix {
  top: 120px;
  font-size: 68px;
  font-weight: 900;
  font-family: var(--font-source-serif-pro);
  color: #89c6a7;
  display: inline-block;
  width: 229px;
  height: 73px;
}
.sign-up {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #474747;
  font-family: var(--font-helvetica);
}
